In [1]:
import numpy as np
import pandas as pd

In [63]:
df = pd.read_csv("victims.csv")
df.head(20)

    year                   level_1                     level_2  value
0   2011   Total Victims Of Murder          Above 21 Years Old     16
1   2011   Total Victims Of Murder      21 Years Old And Below      0
2   2011   Total Victims Of Murder  Youths (7 To 19 Years Old)      0
3   2011   Total Victims Of Murder                 Unknown Age      0
4   2011    Male Victims Of Murder          Above 21 Years Old     10
5   2011    Male Victims Of Murder      21 Years Old And Below      0
6   2011    Male Victims Of Murder  Youths (7 To 19 Years Old)      0
7   2011    Male Victims Of Murder                 Unknown Age      0
8   2011  Female Victims Of Murder          Above 21 Years Old      6
9   2011  Female Victims Of Murder      21 Years Old And Below      0
10  2011  Female Victims Of Murder  Youths (7 To 19 Years Old)      0
11  2011  Female Victims Of Murder                 Unknown Age      0
12  2011     Total Victims Of Rape          Above 21 Years Old     45
13  2011     Total Victims Of Rape      21 Years Old And Below    105
14  2011     Total Victims Of Rape  Youths (7 To 19 Years Old)     96
15  2011     Total Victims Of Rape                 Unknown Age      0
16  2011      Male Victims Of Rape          Above 21 Years Old      0
17  2011      Male Victims Of Rape      21 Years Old And Below      0
18  2011      Male Victims Of Rape  Youths (7 To 19 Years Old)      0
19  2011      Male Victims Of Rape                 Unknown Age      0

In [64]:
df = df[df.level_1.str.contains("Total")].reset_index(drop=True)
df.head(50)

,year,level_1,level_2,value
0,2011,Total Victims Of Murder,Above 21 Years Old,16
1,2011,Total Victims Of Murder,21 Years Old And Below,0
2,2011,Total Victims Of Murder,Youths (7 To 19 Years Old),0
3,2011,Total Victims Of Murder,Unknown Age,0
4,2011,Total Victims Of Rape,Above 21 Years Old,45
5,2011,Total Victims Of Rape,21 Years Old And Below,105
6,2011,Total Victims Of Rape,Youths (7 To 19 Years Old),96
7,2011,Total Victims Of Rape,Unknown Age,0
8,2011,Total Victims Of Outrage Of Modesty,Above 21 Years Old,822
9,2011,Total Victims Of Outrage Of Modesty,21 Years Old And Below,656
10,2011,Total Victims Of Outrage Of Modesty,Youths (7 To 19 Years Old),534
11,2011,Total Victims Of Outrage Of Modesty,Unknown Age,4
12,2011,Total Victims Of Robbery,Above 21 Years Old,342
13,2011,Total Victims Of Robbery,21 Years Old And Below,107
14,2011,Total Victims Of Robbery,Youths (7 To 19 Years Old),88
15,2011,Total Victims Of Robbery,Unknown Age,1
16,2011,Total Victims Of Snatch Theft,Above 21 Years Old,280
17,2011,Total Victims Of Snatch Theft,21 Years Old And Below,70
18,2011,Total Victims Of Snatch Theft,Youths (7 To 19 Years Old),50
19,2011,Total Victims Of Snatch Theft,Unknown Age,0
20,2011,Total Victims Of Rioting,Above 21 Years Old,132
21,2011,Total Victims Of Rioting,21 Years Old And Below,128
22,2011,Total Victims Of Rioting,Youths (7 To 19 Years Old),108
23,2011,Total Victims Of Rioting,Unknown Age,1
24,2011,Total Victims Of Serious Hurt,Above 21 Years Old,360
25,2011,Total Victims Of Serious Hurt,21 Years Old And Below,77
26,2011,Total Victims Of Serious Hurt,Youths (7 To 19 Years Old),50
27,2011,Total Victims Of Serious Hurt,Unknown Age,1
28,2011,Total Victims Of Cheating & Related,Above 21 Years Old,1970
29,2011,Total Victims Of Cheating & Related,21 Years Old And Below,296
30,2011,Total Victims Of Cheating & Related,Youths (7 To 19 Years Old),181
31,2011,Total Victims Of Cheating & Related,Unknown Age,1
32,2012,Total Victims Of Murder,Above 21 Years Old,11
33,2012,Total Victims Of Murder,21 Years Old And Below,0
34,2012,Total Victims Of Murder,Youths (7 To 19 Years Old),0
35,2012,Total Victims Of Murder,Unknown Age,0
36,2012,Total Victims Of Rape,Above 21 Years Old,41
37,2012,Total Victims Of Rape,21 Years Old And Below,97
38,2012,Total Victims Of Rape,Youths (7 To 19 Years Old),82
39,2012,Total Victims Of Rape,Unknown Age,0
40,2012,Total Victims Of Outrage Of Modesty,Above 21 Years Old,847
41,2012,Total Victims Of Outrage Of Modesty,21 Years Old And Below,654
42,2012,Total Victims Of Outrage Of Modesty,Youths (7 To 19 Years Old),489
43,2012,Total Victims Of Outrage Of Modesty,Unknown Age,5
44,2012,Total Victims Of Robbery,Above 21 Years Old,265
45,2012,Total Victims Of Robbery,21 Years Old And Below,68
46,2012,Total Victims Of Robbery,Youths (7 To 19 Years Old),46
47,2012,Total Victims Of Robbery,Unknown Age,0
48,2012,Total Victims Of Snatch Theft,Above 21 Years Old,236
49,2012,Total Victims Of Snatch Theft,21 Years Old And Below,54

In [65]:
new_value = df.value.groupby(df.value.index // 4).sum().reset_index(drop=True)
print(new_value.to_string())

0        16
1       246
2      2016
3       538
4       400
5       369
6       488
7      2448
8        11
9       220
10     1995
11      379
12      328
13      428
14      546
15     2020
16       19
17      202
18     1937
19      311
20      269
21      356
22      573
23     2500
24       15
25      270
26     1954
27      295
28      177
29      314
30      576
31     4255
32       14
33      260
34     1834
35      139
36       92
37      230
38      568
39     7342
40       18
41      244
42     1747
43      116
44       70
45      253
46      583
47     7152
48       11
49      286
50     2226
51       83
52       59
53      195
54      502
55     7176
56        9
57      329
58     2442
59       86
60       54
61      210
62      494
63     8067
64       12
65      446
66     2282
67       76
68       38
69      182
70      494
71    11693

In [66]:
df = df.drop(columns=["level_2"]).drop_duplicates(subset=["year", "level_1"]).reset_index(drop=True)
df.value = new_value
df.head(20)

    year                              level_1  value
0   2011              Total Victims Of Murder     16
1   2011                Total Victims Of Rape    246
2   2011  Total Victims Of Outrage Of Modesty   2016
3   2011             Total Victims Of Robbery    538
4   2011        Total Victims Of Snatch Theft    400
5   2011             Total Victims Of Rioting    369
6   2011        Total Victims Of Serious Hurt    488
7   2011  Total Victims Of Cheating & Related   2448
8   2012              Total Victims Of Murder     11
9   2012                Total Victims Of Rape    220
10  2012  Total Victims Of Outrage Of Modesty   1995
11  2012             Total Victims Of Robbery    379
12  2012        Total Victims Of Snatch Theft    328
13  2012             Total Victims Of Rioting    428
14  2012        Total Victims Of Serious Hurt    546
15  2012  Total Victims Of Cheating & Related   2020
16  2013              Total Victims Of Murder     19
17  2013                Total Victims Of Rape    202
18  2013  Total Victims Of Outrage Of Modesty   1937
19  2013             Total Victims Of Robbery    311

In [67]:
offences = ["Murder", "Rape", "Outrage Of Modesty", "Robbery", "Snatch Theft", "Rioting", "Serious Hurt", "Cheating & Related"]

for offence in offences:
    df.loc[df.level_1.str.contains(offence), "level_1"] = offence

df.rename(columns={"level_1":"target"}, inplace=True)

df.head(20)

    year              target  value
0   2011              Murder     16
1   2011                Rape    246
2   2011  Outrage Of Modesty   2016
3   2011             Robbery    538
4   2011        Snatch Theft    400
5   2011             Rioting    369
6   2011        Serious Hurt    488
7   2011  Cheating & Related   2448
8   2012              Murder     11
9   2012                Rape    220
10  2012  Outrage Of Modesty   1995
11  2012             Robbery    379
12  2012        Snatch Theft    328
13  2012             Rioting    428
14  2012        Serious Hurt    546
15  2012  Cheating & Related   2020
16  2013              Murder     19
17  2013                Rape    202
18  2013  Outrage Of Modesty   1937
19  2013             Robbery    311

In [68]:
years = df.year.unique()

for year in years:
    year_df = df[df.year == year].drop(columns=["year"])
    year_df["source"] = pd.Series(["Non-Sexual",
                                "Sexual",
                                "Sexual",
                                "Non-Violent",
                                "Non-Violent",
                                "Non-Sexual",
                                "Non-Sexual",
                                "Non-Violent"], index=year_df.index)
    sexual_value = year_df[year_df.source.str.match("Sexual")].value.sum()
    nonsexual_value = year_df[year_df.source.str.match("Non-Sexual")].value.sum()
    new_rows = pd.DataFrame.from_dict({"source": ["Violent", "Violent"],
                                       "target": ["Sexual", "Non-Sexual"],
                                       "value": [sexual_value, nonsexual_value]})
    year_df = year_df.append(new_rows, ignore_index=True)
    cols = year_df.columns.tolist()
    year_df = year_df[cols[-1:] + cols[:-1]]
    year_df["color"] = pd.Series(["#ac5430",
                                  "#ebb783",
                                  "#ebb783",
                                  "#499092",
                                  "#499092",
                                  "#ac5430",
                                  "#ac5430",
                                  "#499092",
                                  "#b77745",
                                  "#b77745"])
    year_df.to_csv("{}.csv".format(year), index=False)